
<% content_for :title, "#{@user.first_name} #{@user.last_name}'s photos" %>
<%= javascript_include_tag "tagger.js" %>

<% @tag.errors.full_messages.each do |msg| %>
	<div class="notice"><%= msg %></div>
<% end %>

<table class="name_navigator">
	<% for person in @users %>
		<tr><td> <%= link_to "#{person.first_name} #{person.last_name}", controller: "photos", action: "index", id: "#{person.id}"%> </td></tr>
	<% end %>
</table>
<table class="photo_content">

	<% for pic in @photos %>
			<tr class="content_row"><td class="photo_box">
					<div name=#<%=pic.id.to_s()%> id = <%=pic.id.to_s() + "wrapper" %>>
						<%= image_tag("#{pic.file_name}") %>
						<div id=<%=pic.id.to_s() + "feedback" %> ></div>
						<% for tag in @tags[pic.id] %>
							<div style="
								width:<%=tag.width%>px;
								height:<%=tag.height%>px;
								left:<%=tag.x_offset%>px;
								top:<%=tag.y_offset%>px;
								border:1px solid black;
								position: absolute;
								color: #FFEB99;
								font-size: 16px;"
								onmouseover = "this.innerHTML = '<%=tag.tagged_usr%>'"
								onmouseout = "this.innerHTML = ''"></div>
						<%end%>



						<script type="text/javascript">
						//<![CDATA[
							new Tagger("<%=pic.id.to_s() + 'wrapper' %>", "<%=pic.id.to_s() + 'selection'%>", "<%=pic.id.to_s() + 'x_offset' %>", "<%=pic.id.to_s() + 'y_offset' %>", "<%=pic.id.to_s() + 'width' %>", "<%=pic.id.to_s() + 'height' %>", "<%=pic.id.to_s()%>", "<%=pic.id.to_s() + 'form' %>");
						//]]>
						</script>
					</div>

					<% user_id = params[:id] %>
					<div id=<%=pic.id.to_s() + "tagee_form" %>>
					<%= form_for(@tag, method: :post, url: {action: :create_tag, id: @user.id}, :html => {:id => "#{pic.id}form"}) do |form| %>
						<table id="tagger_table">
						<tr>
							<td><%= form.select(:tagged_usr, @tagees.map {|p| p.first_name + " " + p.last_name}) %></td>

							<td><%= form.hidden_field(:x_offset, :id => "#{pic.id}x_offset" ) %></td>
							<td><%= form.hidden_field(:y_offset, :id => "#{pic.id}y_offset") %></td>
							<td><%= form.hidden_field(:width, :id => "#{pic.id}width") %></td>
							<td><%= form.hidden_field(:height, :id => "#{pic.id}height") %></td>
							<td><%= form.hidden_field(:photo_id, :value => "#{pic.id}") %></td>
							<td><%= form.submit "Drag to Tag User!" %></td>
						</tr>
						</table>
					<% end %>
					</div>
			</td>
			<td class="comment_box">
				<div class="comment_box">
		 		<div><%= render partial: "shared/comments", locals: {comments: @comments[pic.id]} %></div>
		 		<div class="comment"> 
		 			<%= link_to("Add New Comment", controller: :comments, action: :new, id: pic.id) %> </div>
		 		</div>
		 	</td>
		 </tr>
		 <tr class="transparent"></tr>
	 <% end %>
</table>